<header class="page-header">
     <h1 class="project-name">
          <a class="header-link" href="{{ site.baseurl }}/"> {{ site.title }}</a>
     </h1>

     <!--<h3 style="font-weight: lighter;">a blog for <a class="header-link" href="http://canijustgo.com/" target="_blank">canijustgo.com</a></h3>-->
     <!-- <h3>{% if site.email %}<a class="header-link" href="http://twitter.com/{{ site.twitter_username }}"
               target="_blank">@{{ site.email }}</a></h3>{% endif %} -->
     <!-- {% if site.email %} 
          <h3>
               E-mail:{{site.email }}
          </h3>
     {% endif %}

          <h3>
               GitHub:<a class="header-link" href="https://github.com/yangshuo" target="_blank">https://github.com/yangshuo</a>
          </h3> -->
</header>